.cache
.config
.cursor-server
.docker
.dotnet
.local
.ssh
.vscode-server
backups
scripts/backup/backup-database.sh
scripts/smart-monitor-multi.sh
storage
stuff
unused-services
.bash_history
*.env
*.conf
*.log