.cache
.config
.copilot
.cursor-server
.docker
.dotnet
.local
.ssh
.vscode-server
backups
scripts/smart-monitor-multi.sh
storage
stuff
unused-services
.bash_history
*.env
*.conf
*.log
html
*.sqlite3
unused-storage