.cache
.config
.docker
.dotnet
.local
.rest-client
.ssh
.vscode-server
backups
downloads
storage
unused
.bash_history
.wget-hsts
configs
services/photoprism/database
config
appdata
app
uptime-kuma-data
*.env
etc-pihole
etc-dnsmasq.d
acme.json
rclone.conf
*.txt
*.log
backup-wordpress-dcumps.sh
backup-database.sh
stuff/vpn-configs
services/pterodactyl
*.sqlite
*.zip
*.php
services/wiki-dcu-lol/images