services:
  macos:
    image: dockurr/macos
    container_name: macos
    environment:
      VERSION: "14"
      DISK_SIZE: "64G"
      RAM_SIZE: "4G"
      CPU_CORES: "3"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8007:8006
      - 5900:5900/tcp
      - 5900:5900/udp
    volumes:
      - ~/storage/macos:/storage
    restart: always
    stop_grace_period: 2m